# Значения по умолчанию для Gateway
gateway:
  name: kgateway-proxy
  namespace: kgateway-system
  gatewayClassName: kgateway

listeners:
  - protocol: HTTP
    port: 80
    name: http
    allowedRoutes:
      namespaces:
        from: All
