{{- if .Values.keycloak.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.keycloak.service.name }}
  namespace: {{ .Values.keycloak.namespace }}
  labels:
    app: keycloak
spec:
  type: {{ .Values.keycloak.service.type }}
  ports:
  - port: {{ .Values.keycloak.service.port }}
    targetPort: {{ .Values.keycloak.service.targetPort }}
    protocol: TCP
    name: http
  selector:
    app: keycloak
{{- end }}
