{{- if .Values.a2a.agent.enabled }}
{{- $defaults := .Values.a2a.agent.defaults }}
{{- /* Загружаем агентов из файлов */}}
{{- $agents := list }}
{{- range .Values.a2a.agent.agentFiles }}
{{- $file := printf "instances/%s" . }}
{{- $agentData := $.Files.Get $file | fromYaml }}
{{- $agents = append $agents $agentData }}
{{- end }}
{{- range $agents }}
{{- $agent := mergeOverwrite (deepCopy $defaults) . }}
{{- $deploymentDefaults := dict "namespace" $defaults.namespace "imagePullPolicy" $defaults.imagePullPolicy "port" $defaults.port "replicas" $defaults.replicas "env" $defaults.env }}
{{- $deployment := mergeOverwrite (deepCopy $deploymentDefaults) ($agent.deployment | default dict) }}
{{- $serviceDefaults := $defaults.service | default dict }}
{{- $service := mergeOverwrite (deepCopy $serviceDefaults) ($agent.service | default dict) }}
{{- $name := $deployment.name | default (printf "a2a-%s" $agent.name) }}
{{- $serviceName := $service.name | default $name }}
{{- $appName := $deployment.name | default $name }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ $serviceName }}
  namespace: {{ $service.namespace | default $deployment.namespace | default $defaults.namespace | default "agentgateway-system" }}
  labels:
    app: {{ $appName }}
    {{- if $service.labels }}
    {{- toYaml $service.labels | nindent 4 }}
    {{- end }}
  {{- if $service.annotations }}
  annotations:
    {{- toYaml $service.annotations | nindent 4 }}
  {{- end }}
spec:
  selector:
    app: {{ $appName }}
  type: {{ $service.type | default "ClusterIP" }}
  ports:
    - protocol: TCP
      port: {{ $service.port | default 8000 }}
      targetPort: {{ $service.targetPort | default ($deployment.port | default 8000) }}
      {{- if $service.appProtocol }}
      appProtocol: {{ $service.appProtocol }}
      {{- end }}
{{- end }}
{{- end }}
