{{- if .Values.llm.cloudru.enabled }}
apiVersion: agentgateway.dev/v1alpha1
kind: AgentgatewayBackend
metadata:
  name: {{ .Values.llm.cloudru.backend.name }}
  namespace: {{ .Values.llm.cloudru.backend.namespace }}
spec:
  ai:
    provider:
      openai:
        model: {{ .Values.llm.cloudru.backend.model | quote }}
      host: {{ .Values.llm.cloudru.backend.host }}
      port: {{ .Values.llm.cloudru.backend.port }}
      path: {{ .Values.llm.cloudru.backend.path | quote }}
  policies:
    {{- if .Values.llm.cloudru.backend.auth }}
    auth:
      secretRef:
        name: {{ .Values.llm.cloudru.backend.auth.secretRef.name }}
    {{- end }}
    tls:
      sni: {{ .Values.llm.cloudru.backend.sni }}
{{- end }}
