{{- if .Values.a2a.agent.enabled }}
{{- $defaults := .Values.a2a.agent.defaults }}
{{- /* Загружаем агентов из файлов */}}
{{- $agents := list }}
{{- range .Values.a2a.agent.agentFiles }}
{{- $file := printf "instances/%s" . }}
{{- $agentData := $.Files.Get $file | fromYaml }}
{{- $agents = append $agents $agentData }}
{{- end }}
{{- range $agents }}
{{- $agent := mergeOverwrite (deepCopy $defaults) . }}
{{- $deploymentDefaults := dict "namespace" $defaults.namespace "imagePullPolicy" $defaults.imagePullPolicy "port" $defaults.port "replicas" $defaults.replicas "env" $defaults.env }}
{{- $deployment := mergeOverwrite (deepCopy $deploymentDefaults) ($agent.deployment | default dict) }}
{{- $serviceDefaults := $defaults.service | default dict }}
{{- $service := mergeOverwrite (deepCopy $serviceDefaults) ($agent.service | default dict) }}
{{- $name := $deployment.name | default (printf "a2a-%s" $agent.name) }}
{{- include "agentgateway-library.service" (dict "name" $agent.name "namespace" ($deployment.namespace | default $defaults.namespace) "deployment" $deployment "service" $service) }}
{{- end }}
{{- end }}
