{{- if .Values.a2a.agent.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.a2a.agent.service.name }}
  namespace: {{ .Values.a2a.agent.service.namespace }}
spec:
  selector:
    app: {{ .Values.a2a.agent.deployment.name }}
  type: ClusterIP
  ports:
    - protocol: TCP
      port: {{ .Values.a2a.agent.service.port }}
      targetPort: {{ .Values.a2a.agent.service.targetPort }}
      appProtocol: kgateway.dev/a2a
{{- end }}
