# Значения по умолчанию для ArgoCD Application
application:
  name: kgateway-helm
  namespace: argocd
  
destination:
  namespace: kgateway-system
  server: https://kubernetes.default.svc

project: default

source:
  chart: kgateway
  repoURL: ghcr.io/kgateway-dev/charts
  targetRevision: v2.2.0-main
  helm:
    skipCrds: false
    parameters:
    - name: controller.image.pullPolicy
      value: "Always"
    - name: controller.extraEnv.KGW_ENABLE_GATEWAY_API_EXPERIMENTAL_FEATURES
      value: "true"
    # Добавляем временный том для Envoy (решает проблему с readOnlyRootFilesystem)
    - name: gatewayProxies.gatewayProxy.podTemplate.volumes[0].name
      value: "tmp"
    - name: gatewayProxies.gatewayProxy.podTemplate.volumes[0].emptyDir
      value: "{}"
    - name: gatewayProxies.gatewayProxy.podTemplate.volumeMounts[0].name
      value: "tmp"
    - name: gatewayProxies.gatewayProxy.podTemplate.volumeMounts[0].mountPath
      value: "/tmp"

syncPolicy:
  automated:
    prune: true
    selfHeal: true
  syncOptions:
    - CreateNamespace=true
