{{- $defaults := .Values.mcp.defaults }}
{{- /* Загружаем серверы из файлов */}}
{{- $multiplexedServers := list }}
{{- range .Values.mcp.multiplexedServerFiles }}
{{- $file := printf "instances/multiplexed/%s" . }}
{{- $serverData := $.Files.Get $file | fromYaml }}
{{- $multiplexedServers = append $multiplexedServers $serverData }}
{{- end }}
{{- $individualServers := list }}
{{- range .Values.mcp.individualServerFiles }}
{{- $file := printf "instances/individual/%s" . }}
{{- $serverData := $.Files.Get $file | fromYaml }}
{{- $individualServers = append $individualServers $serverData }}
{{- end }}
{{- $allServers := list }}
{{- if .Values.mcp.multiplexed.enabled }}
{{- $allServers = concat $allServers $multiplexedServers }}
{{- end }}
{{- if .Values.mcp.individual.enabled }}
{{- $allServers = concat $allServers $individualServers }}
{{- end }}
{{- range $allServers }}
{{- $server := mergeOverwrite (deepCopy $defaults) . }}
{{- $deployment := dict "name" $server.name "namespace" ($server.namespace | default $defaults.namespace) "image" $server.image "imagePullPolicy" $server.imagePullPolicy "port" $server.port "replicas" $server.replicas "env" $server.env "command" $server.command "args" $server.args }}
{{- include "agentgateway-library.deployment" (dict "name" $server.name "namespace" ($server.namespace | default $defaults.namespace) "deployment" $deployment) }}
{{- end }}
